<div class="modal-form">
    <form role="form" method="POST" ng-submit="save()" novalidate>
        {% csrf_token %}
        <div class="alert alert-danger" ng-show="model.errors.length > 0">
            <div ng-repeat="error in model.errors" ng-bind="error"></div>
        </div>
        <div class="panel-group" id="accordion">
            <!-- Main -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" data-ng-bind="translation.texts.doctor">Doctor</a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="inputTitle" class="control-label" data-ng-bind="translation.texts.title">Title</label>
                            <select class="form-control" ng-model="model.title" ng-options="t.description for t in data.titles track by t.id"></select>
                        </div>
                        <div class="form-group">
                            <label for="inputName" class="control-label" data-ng-bind="translation.texts.firstName">First name</label>
                            <input type="text" class="form-control" id="inputName" ng-model="model.firstName" data-med-placeholder="translation.texts.firstName" required>
                        </div>
                        <div class="form-group">
                            <label for="inputFamily" class="control-label" data-ng-bind="translation.texts.lastName">Last name</label>
                            <input type="text" class="form-control" id="inputFamily" ng-model="model.lastName" data-med-placeholder="translation.texts.lastName" required>
                        </div>
                        <div class="form-group">
                            <label for="inputPhone" class="control-label" data-ng-bind="translation.texts.phone">Phone</label>
                            <input type="text" class="form-control" id="inputPhone" ng-model="model.phoneNumber" data-med-placeholder="translation.texts.phone">
                        </div>
                        <div class="form-group">
                            <label for="inputDefaultExampTime" class="control-label" data-ng-bind="translation.texts.examTime">Exam time (min)</label>
                            <input type="number" class="form-control" id="inputDefaultExampTime" ng-model="model.defaultExamTime" data-med-placeholder="translation.texts.examTime">
                        </div>
                    </div>
                </div>
                <!-- Specialties -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" data-ng-bind="translation.texts.specialties">
                                Specialties
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row" ng-repeat="speciality in model.specialties" style="padding-bottom: 5px;">
                                <div class="col-xs-9 col-xs-offset-1" style="padding-left: 0">
                                    <select class="form-control" ng-model="speciality.type" ng-options="s.description for s in speciality.types track by s.id"></select>
                                </div>
                                <div class="col-xs-1 remove-button">
                                    <a class="button clear-href" ng-click="removeSpeciality(speciality)">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="add-new-detail">
                                <button type="button" class="btn btn-default" ng-click="addNewSpeciality()" data-ng-bind="translation.texts.add">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top: 5px; overflow: hidden">
            <button type="submit" class="btn btn-default" style="float: left; width: 100px" data-ng-bind="translation.texts.save">Save</button>
            <button type="button" class="btn btn-default" style="float: left; width: 100px; margin-left: 10px;" ng-click="cancel()" data-ng-bind="translation.texts.cancel">Cancel</button>
            <button type="button" class="btn btn-default" style="float: right; width: 100px" ng-click="del()" ng-show="model.id > 0 && model.canBeDeleted" data-ng-bind="translation.texts.delete">Delete</button>
        </div>
    </form>
</div>