{% extends 'layout.html' %}

{% block content %}
<div class="container" ng-controller="doctorsController">
    <p class="title" data-ng-bind="translation.texts.doctors"></p>
    <div class="nomen-header">
        <div class="col-xs-2">
            <button class="btn btn-default @ViewBag.AdminViewClass" ng-click="add()" data-ng-bind="translation.texts.addNewDoctor">Add new doctor</button>
        </div>
        <div class="col-xs-3 col-xs-offset-7">
            <div class="input-group">
                <input type="search" ng-model="searchText" class="form-control" />
                <span class="input-group-addon glyphicon glyphicon-search" style="top: 0"></span>
            </div>
        </div>
    </div>
    <table class="table table-bordered table-condensed table-nomen table-center">
        <thead>
            <tr>
                <th style="width: 10px"></th>
                <th style="width: 100px" data-ng-bind="translation.texts.title">Title</th>
                <th style="width: 100px" data-ng-bind="translation.texts.firstName">First Name</th>
                <th style="width: 100px" data-ng-bind="translation.texts.lastName">Last name</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="doctor in doctors | filter:searchText">
                <td class="controls">
                    {% verbatim %}
                    <a ng-href="/Common/Schedule?doctorId={{doctor.id}}">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </a>
                    {% endverbatim %}
                    <a ng-click="edit(doctor.id)"><span class="glyphicon glyphicon-pencil @ViewBag.AdminViewClass"></span></a>
                </td>
                <td ng-bind="doctor.title"></td>
                <td ng-bind="doctor.firstName"></td>
                <td ng-bind="doctor.lastName"></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}

{% block title %}translation.texts.doctors{% endblock %}

{% load staticfiles %}
{% block styles %}
    <link href="{% static 'css/doctor.min.css' %}?ver={{ version }}" rel="stylesheet" />
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/common/doctor.min.js' %}?ver={{ version }}"></script>
{% endblock %}