<!DOCTYPE html>
<html ng-app="loginApp" ng-controller="loginController">
<head>
    <title ng-bind="translation.texts.loginTitle"></title>
    <meta charset="utf-8"/>
    <meta name="author" content="Ventsislav Mladenov">
    <meta http-equiv="content-language" content="bg">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    {% load staticfiles %}
    <link href="{% static 'css/login.min.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'css/language.min.css' %}" rel="stylesheet"/>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js" type="text/javascript"></script>
</head>
<body>
{% include 'languages.html' %}
<div class="container" ng-cloak>
    <form class="form-login form-horizontal" role="form" method="POST" action="{% url 'login' %}">
        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        {% csrf_token %}
        <div class="form-group">
            <label for="userName" class="col-sm-4 control-label"
                   data-ng-bind="translation.texts.userName + ':'"></label>

            <div class="col-sm-6">
                <input id="userName" type="text" name="userName" class="form-control"
                       data-med-placeholder="translation.texts.userName" required autofocus/>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-4 control-label"
                   data-ng-bind="translation.texts.password + ':'"></label>

            <div class="col-sm-6">
                <input id="password" type="password" name="password" class="form-control"
                       data-med-placeholder="translation.texts.password" required/>
            </div>
        </div>
        <label class="remember-me control-label">
            <input type="checkbox" name="remember_me" onclick="checkClick(this)" value="false"/>
            <span data-ng-bind="translation.texts.rememberMe"></span>
        </label>
        <script type="text/javascript">
            function checkClick(ch) {
                if (ch.value === "false")
                    ch.value = "true";
                else
                    ch.value = "false";
            }
        </script>
        <button type="submit" class="btn btn-default" data-ng-bind="translation.texts.login"></button>
    </form>
</div>
<div class="chrome-info">
    <span ng-bind="translation.texts.useChromeMsg"></span> <a href="http://www.google.com/intl/bg/chrome/browser/">Google
    Chrome</a>
</div>
<script src="{% static "js/translation.js" %}"></script>
<script src="{% static "js/ui-med.js" %}"></script>
<script src="{% static "js/login.js" %}"></script>
</body>
</html>