<div class="modal-body patient-details">
    <form name="detailsForm" novalidate="novalidate" ng-submit="save()" ng-controller="patientAddFormController">
        {% csrf_token %}
        <div class="alert alert-danger" ng-show="model.errors.length > 0">
            <div ng-repeat="error in model.errors" ng-bind="error"></div>
        </div>
        <div class="panel-group" id="accordion">
            <!-- Main -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" data-ng-bind="translation.texts.patient">Patient</a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="form-horizontal" role="form" style="margin-top: 5px">
                            <div class="form-group">
                                <label for="patientFirstName" class="col-xs-3 control-label" data-ng-bind="translation.texts.firstName">First name</label>
                                <div class="col-xs-9">
                                    <input id="patientFirstName" class="form-control" ng-model="model.firstName" data-med-placeholder="translation.texts.firstName" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="patientMiddleName" class="col-xs-3 control-label" data-ng-bind="translation.texts.middleName">Middle name</label>
                                <div class="col-xs-9">
                                    <input type="text" id="patientMiddleName" class="form-control" ng-model="model.middleName" data-med-placeholder="translation.texts.middleName" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="patientLastName" class="col-xs-3 control-label" data-ng-bind="translation.texts.lastName">Last name</label>
                                <div class="col-xs-9">
                                    <input type="text" id="patientLastName" class="form-control" ng-model="model.lastName" data-med-placeholder="translation.texts.lastName" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="patientIdentNumber" class="col-xs-3 control-label" data-ng-bind="translation.texts.identificationNumber">Identification number</label>
                                <div class="col-xs-3">
                                    <select class="form-control" ng-model="model.identType" ng-options="i.name for i in data.identTypes track by i.id"></select>
                                </div>
                                <div class="col-xs-6">
                                    <input type="text" id="patientIdentNumber" class="form-control" ng-model="model.identNumber" data-med-placeholder="translation.texts.identificationNumber" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="patientGender" class="col-xs-3 control-label" data-ng-bind="translation.texts.sex">Sex</label>
                                <div class="col-xs-9">
                                    <select id="patientGender" class="form-control" data-ng-model="model.gender" ng-options="g.name for g in data.genders track by g.id"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="patientEmail" class="col-xs-3 control-label" data-ng-bind="translation.texts.email">E-mail</label>
                                <div class="col-xs-9">
                                    <div class="input-group">
                                        <span class="input-group-addon">@@</span>
                                        <input id="patientEmail" type="email" data-ng-model="model.email" class="form-control" data-med-placeholder="translation.texts.email" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="patientAddress" class="col-xs-3 control-label" data-ng-bind="translation.texts.address">Address</label>
                                <div class="col-xs-9">
                                    <input id="patientAddress" type="text" ng-model="model.address" data-med-placeholder="translation.texts.address" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="patientTown" class="col-xs-3 control-label" data-ng-bind="translation.texts.town">Град:</label>
                                <div class="col-xs-9">
                                    <input id="patientTown" type="text" data-med-placeholder="translation.texts.town" class="form-control" ng-model="model.town" />
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="patientTownPostCode" class="col-xs-3 control-label" data-ng-bind="translation.texts.postCode">Пощенски код:</label>
                                <div class="col-xs-9">
                                    <input id="patientTownPostCode" type="text" data-med-placeholder="translation.texts.postCode" class="form-control" data-ng-model="model.postCode" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="patientNote" class="col-xs-3 control-label" data-ng-bind="translation.texts.note">Бележка:</label>
                                <div class="col-xs-9">
                                    <textarea id="patientNote" rows="3" class="form-control" data-ng-model="model.note"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Phones -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" data-ng-bind="translation.texts.phones">Phones</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row" data-ng-repeat="phone in model.phones" style="padding-bottom: 5px;">
                                <div class="col-xs-5">
                                    <select ng-options="pt.name for pt in data.phoneTypes track by pt.id" data-ng-model="phone.type" class="form-control"></select>
                                </div>
                                <div class="col-xs-5" style="padding-left: 0">
                                    <input type="text" data-ng-model="phone.number" class="form-control" data-med-placeholder="translation.texts.phone" required />
                                </div>
                                <div class="col-xs-1 is-primary">
                                    <input type="checkbox" data-ng-model="phone.isPrimary" name="IsPrimaryPhone" data-ng-change="onSelectPrimaryPhone(phone)" />
                                </div>
                                <div class="col-xs-1 remove-button">
                                    <a class="button clear-href" ng-click="removePhone(phone)">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="add-new-detail">
                                <button type="button" class="btn btn-default" ng-click="addNewPhone()" data-ng-bind="translation.texts.add">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Payment -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" data-ng-bind="translation.texts.fund">Fund</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="form-horizontal" role="form" style="margin-top: 5px">
                                <div class="form-group">
                                    <label for="fundCardNumber" class="col-xs-3 control-label" data-ng-bind="translation.texts.name">Name</label>
                                    <div class="col-xs-9">
                                        <select class="form-control" data-ng-model="model.fund" data-ng-options="f.name for f in data.funds track by f.id"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fundCardNumber" class="col-xs-3 control-label" data-ng-bind="translation.texts.cardNumber">Card number</label>
                                    <div class="col-xs-9">
                                        <input type="text" id="fundCardNumber" class="form-control" data-ng-model="model.fundCardNumber"
                                               data-med-placeholder="translation.texts.cardNumber" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fundCardExpire" class="col-xs-3 control-label" data-ng-bind="translation.texts.expireOn">Expire on</label>
                                    <div class="col-xs-9">
                                        <input class="form-control" data-med-date-input data-ng-model="model.fundCardExpiration" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top: 5px; overflow: hidden">
            <button class="btn btn-default" style="float: left; width: 100px" data-ng-bind="translation.texts.save">Save</button>
            <button type="button" class="btn btn-default" style="float: left; width: 100px; margin-left: 10px;" ng-click="cancel()" data-ng-bind="translation.texts.cancel">Cancel</button>
            <button type="button" class="btn btn-default" style="float: right; width: 100px" ng-click="del()"  data-ng-bind="translation.texts.delete"
                    data-ng-show="model.id > 0 && model.canBeDeleted">Delete</button>
        </div>
    </form>
</div>