{% extends 'layout.html' %}

{% block content %}
<div class="container" ng-controller="patientsController">
    <p class="title" data-ng-bind="translation.texts.patients"></p>
    <div class="nomen-header">
        <div class="col-xs-2">
            <button class="btn btn-default" ng-click="add()" data-ng-bind="translation.texts.addNewPatient">Add new patient</button>
        </div>
        <div class="col-xs-3 col-xs-offset-7">
            <div class="input-group">
                <input type="search" ng-model="searchText" class="form-control" />
                <span class="input-group-addon glyphicon glyphicon-search" style="top: 0"></span>
            </div>
        </div>
    </div>
    <table class="table table-bordered table-condensed table-nomen table-center">
        <thead>
            <tr>
                <th style="width: 10px"></th>
                <th style="width: 100px" data-ng-bind="translation.texts.firstName">First Name</th>
                <th style="width: 100px" data-ng-bind="translation.texts.lastName">Last Name</th>
                <th style="width: 100px" data-ng-bind="translation.texts.identificationNumber">ID</th>
                <th style="width: 100px" data-ng-bind="translation.texts.phone">Phone</th>
                <th style="width: 100px" data-ng-bind="translation.texts.email">E-mail</th>
            </tr>
        </thead>
        <tbody ng-cloak="">
            <tr ng-repeat="patient in patients | multiSearch:searchText | limitTo:20">
                <td class="controls">
                    <a ng-click="edit(patient.id)"><span class="glyphicon glyphicon-pencil"></span></a>
                </td>
                <td ng-bind="patient.fn"></td>
                <td ng-bind="patient.ln"></td>
                <td ng-bind="patient.in"></td>
                <td ng-bind="patient.pn"></td>
                <td ng-bind="patient.em"></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}

{% block title %}translation.texts.patients{% endblock %}

{% load staticfiles %}
{% block styles %}
    <link href="{% static 'css/patient.min.css' %}?ver={{ version }}" rel="stylesheet" />
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/common/patient.min.js' %}?ver={{ version }}"></script>
{% endblock %}