﻿@mixin border-radius($radius) {
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius;
}

@mixin box-shadow($h, $v, $blur, $color) {
	-moz-box-shadow: $h $v $blur $color;
	-webkit-box-shadow: $h $v $blur $color;
	box-shadow: $h $v $blur $color;
}

@mixin linear-gradient($from, $to) {
	background: -webkit-linear-gradient(top, $from, $to);
	background: -moz-linear-gradient(top, $from, $to);
	background: -ms-linear-gradient(top, $from, $to);
	background: -o-linear-gradient(top, $from, $to);
	background: linear-gradient(top, $from, $to);
}

@mixin top-right-arrow($size, $color) {
	width: 0;
	height: 0;
	border-bottom: $size solid transparent;
	border-left: $size solid transparent;
	border-top: $size solid $color;
	border-right: $size solid $color;
}

@mixin popup {
	content: attr(data-title);
	font-weight: normal;
	padding: 4px 8px;
	color: #333;
	position: absolute;
	white-space: pre-wrap;
	width: 300px;
	z-index: 20;
	@include border-radius(5px);
	@include box-shadow(2px, 2px, 4px, #222);
	@include linear-gradient(#eee, #ccc);
}

@mixin rotate($deg) {
	-webkit-transform: translate(15px,100%) rotate($deg);
	-moz-transform: translate(15px,100%) rotate($deg);
	-ms-transform: translate(15px,100%) rotate($deg);
	-o-transform: translate(15px,100%) rotate($deg);
	transform: translate(15px,100%) rotate($deg);
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}