﻿/* Language */
@import 'helper';
$flag-height: 15px;
.flag {
	width: 25px;
	height: $flag-height;
	background:url(../images/flags.png) no-repeat;
}
.flag.flag-bg {background-position: -25px 0}
.flag.flag-en {background-position: 0px -15px}


div.language {
    ul {
        float: right;
        margin: 0;
        padding:  5px 20px 0 0;
        list-style-type: none;

        li {
            float: left;
            display: inline-block;
            margin-left: 5px;
            position: relative;

            a {
                display: block;
                height: $flag-height;
            }

            &:hover::after {
	            content: attr(data-title);
	            font-weight: normal;
	            padding: 4px 8px;
	            color: #333;
	            position: absolute;
                top: $flag-height + 2px;
                right: 0;
	            white-space: pre-wrap;
	            z-index: 20;
                @include border-radius(5px);
	            @include box-shadow(2px, 2px, 4px, #222);
	            @include linear-gradient(#eee, #ccc);
            }
        }
    }
}