﻿body {
	padding: 0;
}

.form-login {
	max-width: 600px;
	margin: 0 auto;
    padding-top: 50px;

	label.remember-me {
		display: block;
		text-align: left;
	}

	button {
		float: right;
		width: 150px;
	}
}

.chrome-info {
	position: absolute;
	right: 10px;
	bottom: 10px;
	font-size: 12px;
	color: #808080;
}