﻿@import "variables";

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: $body-background-color;

	.ui-widget {
		font-size: .9em;
	}
}

$modal-form-input-width: 300px;

.modal-form {
	padding: 20px 10px;
}

a.clear-href, a.clear-href:hover {
	text-decoration: none;
	color: black;
	cursor: pointer;
}

.table-nomen {
	th {
		text-align: center;
	}

	tbody {
		tr:nth-child(odd) {
			background-color: white;
		}

		tr {
			&:hover {
				background-color: #feefa0;
			}
		}

		td.controls {
			text-align: center;
			font-size: 20px;

			a {
				padding: 0 5px;
				text-decoration: none;
				cursor: pointer;
			}
		}
	}
}

.table-center {
	td {
		text-align: center;
	}
}

ul.clear-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

input[type=number] {
	text-align: right;
}

input[type=date][med-date-input] {
	line-height: 1.42857143;
}

input.ng-invalid, input.ng-invalid.form-control:focus {
	border-color: #ea887f;
	box-shadow: none;
}


.clickable {
	cursor: pointer;
}

.clear {
	clear: both;
}


.ui-slider-range {
	cursor: ew-resize;
}

.bold-text {
	font-weight: 700;
}

.alert.alert-small {
	padding: 10px 15px;
	margin-bottom: 10px;
}

.nomen-header {
	margin-bottom: 10px;
	overflow: hidden;

	div:first-child {
		padding-left: 0;
	}

	&::after {
		content: '';
		clear: both;
	}
}

.title {
	font-size: 24px;
	margin: 10px 0;
}