﻿@charset "UTF-8";
@import "helper";
@import "variables";

$menu_width: 100%;
$menu_background_from: #c0bebf;
$menu-height: 52px;
$active-link: #999;
$sub-link: #888;
$hover-sub-link: $active-link;
$border: 1px solid #000;


.menu-container {
	margin-bottom: 10px;
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
	line-height: $menu-height;

	.menu {
		@include linear-gradient($menu_background_from, $body-background-color);
		height: $menu-height;


		ul {
			list-style: none;
		}

		ul, li {
			border: 0;
			margin-left: 0;
			padding: 0;
			position: relative;
		}

			&::after, ul:after {
				content: '';
				display: block;
				clear: both;
			}

		& > ul {
			float: right;
			margin-right: 100px;

			& > li {
				float: left;

				&::before, &:last-child::after {
					content: '';
					border-right: $border;
					float: left;
					height: 20px;
					margin-top: ($menu-height - 20px) / 2;
				}

				& > a {
					float: left;
					width: 150px;
					text-align: center;
				}

				&:hover {
					&::before, & + li::before, &:last-child::after {
						content: '';
						border-right: $border;
						float: left;
						margin-top: 0;
						height: $menu-height;
					}

					& > a {
						color: white;
						font-weight: bold;
						background: $active-link;
					}
				}
			}
		}

		a {
			display: block;
			padding: 0 28px;
			text-decoration: none;
			color: #666666;
		}

		li.has-sub {
			z-index: 1000;

			&:hover > ul {
				display: block;
			}

			ul {
				display: none;
				position: absolute;
				width: 200px;
				top: 100%;
				left: 0;

				li {
					&:not(:last-child) {
						border-bottom: $border;
					}

					a {
						background: $sub-link;
						color: white;

						&:hover {
							background: $hover-sub-link;
						}
					}
				}
			}

			li.has-sub {
				ul {
					top: 0;
					left: -100%;
				}
			}
		}
	}

	.user-name {
		float: left;
		margin-left: 10px;
	}
}
