﻿@import 'dialog-styles';

div.patient-details {
	div.is-primary {
		height: 34px;
		padding-left: 0px;

		input[type=checkbox] {
			top: 50%;
			position: relative;
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			transform: translateY(-50%);
			margin-top: 0px;
		}
	}
}
