{% extends 'layout.html' %}

{% block content %}
    {% verbatim %}
    <div ng-controller="homeController">
        <h2 style="text-align: center; padding-top: 50px" ng-bind="translation.texts.welcome">Welcome</h2>

        <div class="container">
            <p class="title" ng-bind="translation.texts.messages">Messages</p>

            <div class="messages">
                <div ng-repeat="message in messages" class="alert alert-small"
                     ng-class="{ 'alert-success': message.type == 1, 'alert-info': message.type == 2, 'alert-warning': message.type == 3, 'alert-danger': message.type == 4, 'alert-dismissible': message.validity == 1 }">
                    <button type="button" class="close" ng-show="message.validity == 1" ng-click="read(message.id)">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <p>{{ translation.texts.messageReceivedAt }}: {{ message.sendAt | dateDisplay }}</p>

                    <p>{{ translation.texts.messageFrom }}: {{ message.sender }}</p>

                    <p>{{ translation.texts.messageBody }}: {{ message.text }}</p>
                </div>
            </div>
            <h4 ng-show="messages.length == 0" style="text-align: center" ng-bind="translation.texts.noNewMessages">No
                new messages</h4>
        </div>
    </div>
    {% endverbatim %}
{% endblock %}

{% block title %}translation.texts.welcome{% endblock %}

{% block scripts %}
    {% load staticfiles %}
    <script src="{% static 'js/home.min.js' %}?ver={{ version }}"></script>
{% endblock %}