<div class="language">
    <ul>
        <li class="flag flag-bg" data-title="Български" ng-click="translation.setLanguage('bg')"></li>
        <li class="flag flag-en" data-title="English" ng-click="translation.setLanguage('en')"></li>
    </ul>
</div>