<!DOCTYPE html>
<html ng-app="app">
<head>
    <title data-ng-bind="{% block title %}{% endblock %}"></title>
    <meta charset="utf-8" />
    <meta name="author" content="Ventsislav Mladenov" />
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.min.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.ui.timepicker.addon/1.4.5/jquery-ui-timepicker-addon.min.css" />

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/select2/3.4.8/select2.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/select2/3.4.8/select2-bootstrap.css" />

    {% load staticfiles %}
    <link href="{% static 'css/main.min.css' %}?ver={{ version }}" rel="stylesheet" />
    <link href="{% static 'css/menu.min.css' %}?ver={{ version }}" rel="stylesheet" />
    <link href="{% static 'css/language.min.css' %}?ver={{ version }}" rel="stylesheet" />
    {% block styles %} {% endblock %}
</head>
<body ng-controller="rootController" ng-init="init({{ user.id }})" ng-cloak>
    {% include "languages.html" %}
    {% include "menu.html" %}

    <script src="//cdn.jsdelivr.net/modernizr/2.8.2/modernizr.min.js" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js" type="text/javascript"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-cookies.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.min.js" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js" type="text/javascript"></script>
    <script src="//cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.min.js" type="text/javascript"></script>
    <script src="//cdn.jsdelivr.net/jquery.ui.timepicker.addon/1.4.5/jquery-ui-timepicker-addon.min.js" type="text/javascript"></script>
    <script src="//cdn.jsdelivr.net/select2/3.4.8/select2.min.js" type="text/javascript"></script>
    <script src="//cdn.jsdelivr.net/select2/3.4.8/select2_locale_bg.js" type="text/javascript"></script>

    {% block content %} {% endblock %}

    <script src="{% static 'js/slider.min.js' %}?ver={{ version }}" type="text/javascript"></script>
    <script src="{% static 'js/functions.min.js' %}?ver={{ version }}" type="text/javascript"></script>
    <script src="{% static 'js/ui-med.js' %}?ver={{ version }}" type="text/javascript"></script>
    <script src="{% static 'js/common-cntrl.min.js' %}?ver={{ version }}" type="text/javascript"></script>
    <script src="{% static 'js/i18n/' %}{{ lang }}.js?ver={{ version }}" type="text/javascript"></script>
    <script src="{% static 'js/translation.js' %}?ver={{ version }}" type="text/javascript"></script>
    <script src="{% static 'js/app.min.js' %}?ver={{ version }}" type="text/javascript"></script>
    {% block scripts %} {% endblock %}
</body>
</html>