<nav class="menu-container">
    {% if user.is_authenticated %}
        <div class="user-name">
            <span ng-bind="translation.texts.welcome"></span>: <span>{{ user.first_name }} {{ user.last_name }}</span>
            <a href="{% url 'logout' %}" class="clear-href" ng-bind="translation.texts.logout">Log out</a>
        </div>
    {% endif %}
    <div class="menu">
        <ul>
            <li>
                <a href='{% url 'home' %}'>
                    <span ng-bind="translation.texts.home">Home</span>
                </a>
            </li>
            <li class='has-sub'>
                <a href='#'>
                    <span ng-bind="translation.texts.nomenclature">Nomenclature</span>
                </a>
                <ul>
                    <li>
                        <a href='{% url 'doctors' %}'>
                            <span ng-bind="translation.texts.doctors">Doctors</span>
                        </a>
                    </li>
                    <li>
                        <a href='{% url 'patients' %}'>
                            <span ng-bind="translation.texts.patients">Patients</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href='@Url.Action("Index", "Reservation", new { area = "Reservation" })'>
                    <span ng-bind="translation.texts.schedule">Schedule</span>
                </a>
            </li>
            <li class='has-sub @ViewBag.ReportViewClass'>
                <a href='#'>
                    <span ng-bind="translation.texts.reports">Reports</span>
                </a>
                <ul>
                    <li>
                        <a href='@Url.Action("Index", "ReservationLog", new { area = "Reports" })'>
                            <span ng-bind="translation.texts.reservationLog">Reservation log</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class='has-sub'>
                <a href='#'>
                    <span ng-bind="translation.texts.configuration">Configuration</span>
                </a>
                <ul>
                    <li class="@ViewBag.AdminViewClass">
                        <a href='@Url.Action("Index", "UserAdministration", new { area = "Configuration" })'>
                            <span ng-bind="translation.texts.users">Users</span>
                        </a>
                    </li>
                    <li>
                        <a href='@Url.Action("Edit", "UserAdministration", new { area = "Configuration" })'>
                            <span ng-bind="translation.texts.changePersonalInfo">Change personal info</span>
                        </a>
                    </li>
                    <li class="has-sub @ViewBag.AdminViewClass">
                        <a href="#">
                            <span ng-bind="translation.texts.nomenclature">Nomenclature</span>
                        </a>
                        <ul>
                            <li>
                                <a href='@Url.Action("Index", "Speciality", new { area = "Configuration" })'>
                                    <span ng-bind="translation.texts.specialties">Specialties</span>
                                </a>
                            </li>
                            <li>
                                <a href='@Url.Action("Index", "Fund", new { area = "Configuration" })'>
                                    <span ng-bind="translation.texts.funds">Funds</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="@ViewBag.MessageViewClass">
                        <a href='@Url.Action("Index", "Messages", new { area = "Configuration" })'>
                            <span ng-bind="translation.texts.messages">Messages</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>